<main id="container">
    <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="platillo.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Nombre del platilo</h3>
                    <h4>$100.00</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum dolorem sequi aut provident? Laudantium explicabo ut similique unde. Eaque facilis assumenda blanditiis ducimus perspiciatis iure similique tempora cum aliquid perferendis.</p>
                    <i class="fa-solid fa-circle-plus"></i> Extra de salsa
                    <i class="fa-solid fa-circle-plus"></i> Término medio                    </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="platillo.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Nombre del platilo</h3>
                    <h4>$100.00</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum dolorem sequi aut provident? Laudantium explicabo ut similique unde. Eaque facilis assumenda blanditiis ducimus perspiciatis iure similique tempora cum aliquid perferendis.</p>
                    <i class="fa-solid fa-circle-plus"></i> Extra de salsa
                    <i class="fa-solid fa-circle-plus"></i> Término medio                    </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="platillo.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Nombre del platilo</h3>
                    <h4>$100.00</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum dolorem sequi aut provident? Laudantium explicabo ut similique unde. Eaque facilis assumenda blanditiis ducimus perspiciatis iure similique tempora cum aliquid perferendis.</p>
                    <i class="fa-solid fa-circle-plus"></i> Extra de salsa
                    <i class="fa-solid fa-circle-plus"></i> Término medio                    </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-warning">Entregado</button>
</main>