<main id="container">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <button type="button" class="btn btn-light">Reservar</button>
                        <br>
                        <button type="button" class="btn btn-success">D</button>
                        <button type="button" class="btn btn-danger">O</button>
                        <img src="mesa.png" class="card-img-top" alt="...">
                        <h2 class="card-title">MESA X</h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <div class="row">
                            <button type="button" class="btn btn-light">Reservar</button>
                        </div>
                        <button type="button" class="btn btn-success">D</button>
                        <button type="button" class="btn btn-danger">O</button>
                        <img src="mesa.png" class="card-img-top" alt="...">
                        <h2 class="card-title">MESA X</h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <button type="button" class="btn btn-light">Reservar</button>
                        <br>
                        <button type="button" class="btn btn-success">D</button>
                        <button type="button" class="btn btn-danger">O</button>
                        <img src="mesa.png" class="card-img-top" alt="...">
                        <h2 class="card-title">MESA X</h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <button type="button" class="btn btn-light">Reservar</button>
                        <br>
                        <button type="button" class="btn btn-success">D</button>
                        <button type="button" class="btn btn-danger">O</button>
                        <img src="mesa.png" class="card-img-top" alt="...">
                        <h2 class="card-title">MESA X</h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <button type="button" class="btn btn-light">Reservar</button>
                        <br>
                        <button type="button" class="btn btn-success">D</button>
                        <button type="button" class="btn btn-danger">O</button>
                        <img src="mesa.png" class="card-img-top" alt="...">
                        <h2 class="card-title">MESA X</h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <button type="button" class="btn btn-light">Reservar</button>
                        <br>
                        <button type="button" class="btn btn-success">D</button>
                        <button type="button" class="btn btn-danger">O</button>
                        <img src="mesa.png" class="card-img-top" alt="...">
                        <h2 class="card-title">MESA X</h2>
                    </div>
                </div>
            </div>
            <!-- Repite este bloque de código para las demás tarjetas -->
        </div>
    </div>


</main>