<div class="background-image text-center">
    <div class="login-container">
        <div class="login-title">
            <p>Login</p>
            <img src="../../assets/Image/logo vaca dorada.png" alt="Vaca Dorada">
            <i class="fa-solid fa-bars-staggered"></i>
        </div>

        <form>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
</div>