<!--Contenedor de todo el componente -->
<div class="card-mesa text-center" style="width: 300px;">
    <!--Contenedor del semáforo de botones-->
    <button type="button" class="btn btn-dark">Reservar</button>
    <div class="card-transparent buttons">
        <button type="button" class="btn btn-success">D</button>
        <button type="button" class="btn btn-danger">O</button>
    </div>
    <!--Contenedor de la imagen de la mesa-->
    <div class="card-transparent mesa" style="width: 200px;">
        <img src="../../assets/Image/mesa.png" class="card-img-top" alt="...">
    </div>
    <p>Mesa 1</p>
</div>