<div class="container-fluid bg-image" style="background-color: #3F3F3F;">
  <nav class="navbar navbar-light navbar-expand-lg bg-transparent " style="opacity: 0.9;">
    <div>
      <img class="navbar-image" src="../assets/Image/logo vaca dorada.png" alt="Image">
    </div>
    <div class="collapse navbar-collapse justify-content-center">
      <a class="navbar-brand" href="#">Mesero</a>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <div class="container overflow-hidden text-center ">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3">
          <div class="card" style="width: 18rem; background-color: #3F3F3F;">
            <div class="card-header card-transparent">
              Pendientes
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><button type="button" class="btn btn-custom btn-image btn-transparent">
                <span class="btn-image float-left">
                  <img src="../assets/Image/2.png" alt="Image" class="img-small">
                </span>
                <span class="btn-text">mesa 1</span>
              </button></li>
              <li class="list-group-item"><button type="button" class="btn btn-custom btn-image btn-transparent">
                  <span class="btn-image">
                    <img src="../assets/Image/3.png" alt="Image" class="img-small">
                  </span>
                  <span class="btn-text">mesa 2</span>
                </button></li>
              <li class="list-group-item"><button type="button" class="btn btn-custom btn-image btn-transparent">
                  <span class="btn-image">
                    <img src="../assets/Image/4.png" alt="Image" class="img-small">
                  </span>
                  <span class="btn-text">mesa 3</span>
                </button></li>
              <li class="list-group-item"><button type="button" class="btn btn-custom btn-image btn-transparent">
                  <span class="btn-image">
                    <img src="../assets/Image/5.png" alt="Image" class="img-small">
                  </span>
                  <span class="btn-text">mesa 4</span>
                </button></li>
              <li class="list-group-item"><button type="button" class="btn btn-custom btn-image btn-transparent">
                  <span class="btn-image">
                    <img src="../assets/Image/6.png" alt="Image" class="img-small">
                  </span>
                  <span class="btn-text">mesa 5</span>
                </button></li>
              <li class="list-group-item"><button type="button" class="btn btn-custom btn-image btn-transparent">
                  <span class="btn-image">
                    <img src="../assets/Image/7.png" alt="Image" class="img-small">
                  </span>
                  <span class="btn-text">mesa 6</span>
                </button></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="p-3">
          <div class="card" style="background-color: #3F3F3F;">
            <div class="card-header card-transparent">
              <table class="table bg-white-transparent table-borderless ">
                <thead>
                  <tr>
                    <th scope="col">
                      <ul class="list-group">
                        <img src="../assets/Image/grilled-beef-steak-served-with-salt-herbs-grilled-tomato.jpg" class="rounded mx-auto d-block img-medium" alt="...">
                        <li class="list-group-item">Filete Mignon</li>
                      </ul>
                    </th>
                    <th scope="col">Detalles de pedido <br>
                      Mesa 1
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <img src="../assets/Image/whiskey-with-cinnamon-table.jpg" alt="..." class="rounded mx-auto d-block img-medium">
                      <li class="list-group-item">Cóctel de Bourbon Old</li>
                    </th>
                    <td>
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Corte T-Bone</th>
                            <th scope="col">1</th>
                            <th scope="col">$250</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Coctel de Bourbon Old</th>
                            <td>1</td>
                            <td>$60</td>
                          </tr>
                          <tr>
                            <th scope="row">Mousse de Chocolate</th>
                            <td>1</td>
                            <td>$60</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <th scope="row">
                      <img src="../assets/Image/hot-chocolate-aromatic-drink-plate.jpg" alt="..." class="rounded mx-auto d-block img-medium">
                      <li class="list-group-item">Mousse de Chocolate</li>
                    </th>
                    <td>
                      <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="button">Entegrado</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
